
<!DOCTYPE html>
<html lang="en">
<head class="noprint">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipe Details </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description">
    <meta name="keywords" content=",automatic,automated,beer brewing,machine,craft beer,home brewing,beer">
    <meta name="robots" content="noimageindex" />
    <link rel="canonical" href="https://picobrew.com/publicrecipes/publicrecipe?id=8e739806f1c6491bbccb43d7d2bb6bf8" />
    <link rel="icon" href="/favicon.ico">

    <!--Styles-->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:600,700,900&display=swap" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/ThirdPartyCSS.css" rel="stylesheet"/>
    <link href="/assets/css/ComponentCSS.css" rel="stylesheet"/>

    <script src="/assets/js/ThirdPartyJS.js"></script>
</head>

<body>
    <div id="main-internal-wrapper">
        <header id="header" class="noprint">
            <nav id="pico-nav-app" navitems="[]" passedusername="">
                <pico-nav :vm="vm" :promovm="promovm" :promoactive="promoactive" v-on:nav-link-event="handleNavLinkEvent"></pico-nav>
                <div style="width:100%;" :style="padStyle"></div>
            </nav>
        </header>
        <div id="main-internal" role="main">
            <div id="page-text">
                <link rel="stylesheet" href="/Content/font-awesome.min.css" />
                <link rel="stylesheet" href="/Styles/RecipeViewShared.css" />
                <!-- New APP -->
                <div v-cloak id="recipe-vm-app" recipeguid="8e739806f1c6491bbccb43d7d2bb6bf8" api="/API/AnonRestAPI.cshtml?ctl=PublicRecipeVMRequestController" usemetric="false" ismobile="false">
                    <!-- Sticky Header -->
                    <div id="zc_header" v-if="loaded">
                        <div class="zc_header_container">
                            <div class="zc--sticky-title">
                                <div>
                                    <img class="zc--sticky-img" v-bind:src="SRMPic" alt="beer">
                                </div>
                                <div style="display:flex; flex-direction:column;">
                                    <div class="rv--name">{{vm.Recipe.Name}}</div>
                                    <div class="rv--in-r-sh">{{vm.Recipe.BeerStyle.StyleNameCode}}</div>
                                </div>
                            </div>
                            <div class="zc--sticky-stats">
                                <!-- Stats -->
                                <div class="rv--header-ic" v-for="(k,v) in vm.Content.Stats" aria-label="Recipe {{k}}">
                                    <div class="rv--in-r-sh">{{v}}</div>
                                    <div class="rv--md-stat">{{k}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center" v-if="!loaded">
                        <br />
                        <h4><i class="fa fa-spinner fa-spin"></i> Loading Recipe...</h4>
                    </div>
                    <div v-else>
                        <h1 style="color: #f94a4a; text-align: center" v-if="vm.AdminView">ADMIN VIEW - DO NOT MODIFY</h1>
                        <!-- Options -->
                        <div class="text-center" id="all"></div> <!-- Errors -->

                        <div class="l-button-container">
                            <div class="l-button-div" v-if="!vm.Recipe.Locked && false">
                                <a v-bind:href="'/members/recipes/editctlprogram?id=' + vm.Recipe.GUID + '&isZcrafter=true'">Advanced</a>
                            </div>
                            <div class="l-button-div" v-if="!vm.Recipe.Locked && false">
                                <a href="#" v-on:click="exportRecipe()">Export</a>
                            </div>
                            <div class="l-button-div" v-if="!vm.Recipe.Locked && false">
                                <a href="#" v-on:click="edit()">Edit</a>
                            </div>
                            <div class="l-button-div" v-if="!vm.Recipe.Shared && !vm.Recipe.Locked && false">
                                <a href="#" data-toggle="modal" data-target="#sharerecipe">Share</a>
                            </div>
                            <div class="l-button-div" v-if="vm.OwnedByUser && !IsPublic && false">
                                <a href="#" data-toggle="modal" data-target="#deleterecipe">Delete</a>
                            </div>
                            <div class="l-button-div">
                                <a href='#' v-on:click="false ? printRecipe() : showLoginModal()">Print</a>
                            </div>
                            <div class="l-button-div" v-if="(!vm.OwnedByUser && IsPublic && !(!vm.Recipe.Locked && false)) || !false">
                                <a href='#' v-on:click="false ? copyRecipe() : showLoginModal()">Copy to My Brewhouse</a>
                            </div>
                            <div class="l-button-div" v-if="false">
                                <a href='#' v-on:click="UseAsBaseRecipe()">Use as base recipe</a>
                            </div>
                        </div>


                        <!-- Header -->

                        <div class="rv--h-c">
                            <div class="rv--b-c-c">
                                <div class="rv--b-c">
                                    <img style="width:100%; max-width:200px; max-height:200px;" v-bind:src="SRMPic" alt="beer">
                                </div>
                            </div>
                            <div class="rv--s-v-c">
                                <div class="rv--s-v">
                                    <div class="rv--ic well" style="display:flex; flex-direction:column; justify-content:center;">
                                        <div class="rv--lg-s" style="width:100%;">{{vm.Recipe.Name}}</div>
                                    </div>
                                    <div class="rv--ic well" style="margin-bottom:5px !important;">
                                        <div class="rv--s-s">{{vm.Recipe.TastingNotes}}</div>
                                    </div>
                                    <div class="rv--sc">
                                        <div class="rv--i-ic">
                                            <div class="rv--s-s">
                                                Designed by {{vm.Recipe.Author}} on {{GetCreationDate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rv--ic well" style="flex-wrap:nowrap !important; flex-direction:column;">
                                        <div style="flex:1; width:100%; display:flex; align-items:stretch; flex-wrap:wrap;">
                                            <div class="rv--style-ic" style="display:flex; flex-direction:column;">
                                                <div class="rv--rf">
                                                    <div class="rv--in-r">
                                                        STYLE
                                                    </div>
                                                    <div class="rv--i-ic">
                                                        <div class="rv--md-s">{{vm.Recipe.BeerStyle.StyleNameCode}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rv--units-ic" style="display:flex; flex-direction:column;">
                                                <div class="rv--rf">
                                                    <div class="rv--in-r">
                                                        UNITS
                                                    </div>
                                                    <div class="rv--i-ic">
                                                        <div class="rv--md-s">{{false ? 'Metric (L, Kg, g, °C)' : 'Imperial (Gal, Lb, oz, °F)'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rv--units-ic" style="display:flex; flex-direction:column; width:100%;">
                                                <div class="rv--rf">
                                                    <div class="rv--in-r">
                                                        <span class="label label-primary">RecipeID: {{vm.Recipe.RecipeID}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Stats -->
                                    <div class="rv--ic well rv--ic-w" style="margin-bottom:0px !important;">

                                        <div class="rv--stat-ic" v-for="(k,v) in vm.Content.Stats" aria-label="Recipe {{k}}">
                                            <div class="rv--in-r-sh">{{v}}</div>
                                            <div class="rv--md-stat">{{k}}</div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Graphs -->
                        <div class="rv--bd-c">
                            <div class="rv--wc-c">
                                <div class="no-margin-bottom text-center rec-sec-head">Grain Bill</div>
                                <div class="rv--graph well">
                                    <div id="grain_bill_chart" class="r--graph"></div>
                                </div>
                            </div>
                            <div class="rv--wc-c">
                                <div class="no-margin-bottom text-center rec-sec-head">Hop Bill</div>
                                <div class="rv--graph well">
                                    <div id="hop_bill_chart" class="r--graph"></div>
                                </div>
                            </div>
                            <div class="rv--wc-c">
                                <div class="no-margin-bottom text-center rec-sec-head">Wort Curve</div>
                                <div class="rv--graph well">
                                    <div id="brew_graph" class="r--graph"></div>
                                    <div class="text-center">
                                        <span>Brew Time (Est.): <span style="font-weight:600 !important;">{{brew_time_est}}</span></span>
                                        <br />
                                        <span>Chill Time (Est.): <span style="font-weight:600 !important;">{{chill_time_est}}</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div v-for="section in vm.Content.Sections" class="rv--bd-c">
                            <div class="rec-sec-head">{{section.Title}}</div>
                            <div class="recipe-stats-table zc--content-table pt--10 well" style="flex-direction:column;">
                                <!-- STATS -->
                                <div style="display:flex; flex-direction:row;" v-for="stat in section.Stats">
                                    <div class="c--fc-item-h"><b>{{stat.Item1}}:</b></div>
                                    <div class="fg--1" style="padding-left:10px;">{{stat.Item2}}</div>
                                </div>
                                <!-- TABLES -->
                                <div v-for="table in section.Tables" style="display:flex; flex-direction:column; flex-wrap:nowrap; width:100%;">
                                    <div class="ic--label">{{table.Title}}</div>
                                    <!-- COLS -->
                                    <div class="cr--flex-r">
                                        <div class="fg--1 cr--flex-r" v-for="col in table.Cols" v-bind:style="{ width: col.Width }">
                                            <div class="c--fc-item-h">{{col.Val}}</div>
                                        </div>
                                    </div>
                                    <!-- ROWS -->
                                    <div class="cr--flex-r" v-for="row in table.Rows">
                                        <div class="fg--1 cr--flex-r" v-for="i in row" v-bind:style="{ width: i.Width }">
                                            <div class="c--fc-item-t">{{i.Val}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="vm.Content.SpecialBrewingInstructions" class="rv--bd-c">
                            <div class="rec-sec-head">SPECIAL BREWING INSTRUCTIONS</div>
                            <div class="recipe-stats-table zc--content-table pt--10 well" style="flex-direction:column;">
                                <div style="display:flex; flex-direction:column; flex-wrap:wrap; width:100%;">
                                    <div class="cr--flex-r">
                                        <div class="fg--1 cr--flex-r" style="width:100%;">
                                            <div class="c--fc-item-t">{{vm.Content.SpecialBrewingInstructions}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- BREWING DIRECTIONS, NOTES, MACHINE STEPS -->
                        <div class="rv--bd-c">
                            <div class="rec-sec-head">
                                BREWING STEPS
                                <button class="btn btn-icon-header btn-sm btn-pencil" v-on:click="showStepsAndNotes = !showStepsAndNotes" aria-label="Toggle Section Visibility"><span class="glyphicon" v-bind:class="{'glyphicon-chevron-up' : showStepsAndNotes, 'glyphicon-chevron-down': !showStepsAndNotes}"></span></button>
                            </div>
                            <div class="recipe-stats-table zc--content-table pt--10 well static_rec_brew_instructions" style="flex-direction:column;" v-show="showStepsAndNotes">
                                <!-- BREWING INSTRUCTIONS -->
                                <div class="ic--label">Brewing Instructions:</div>
                                <ol v-if="vm.Recipe.HumanBrewingSteps">
                                    <li><b v-text="vm.Recipe.HumanBrewingSteps.FillKeg"></b></li>
                                    <li v-if="vm.Recipe.Amendments.length > 0">
                                        <b v-text="vm.Recipe.HumanBrewingSteps.LoadWaterAmendments"></b>
                                        <ul>
                                            <li v-for="amendment in vm.Recipe.Amendments">{{amendment.Amount}} {{amendment.Units}} of {{amendment.Name}}</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <b v-text="vm.Recipe.HumanBrewingSteps.LoadMash"></b>
                                        <ul>
                                            <li v-for="ingredient in vm.Recipe.HumanBrewingSteps.Mash">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                        </ul>
                                    </li>
                                    <li v-if="vm.Recipe.HumanBrewingSteps.AdjunctRounds.length > 0">
                                        <b v-text="vm.Recipe.HumanBrewingSteps.LoadAdjuncts"></b>
                                        <ul v-for="round in vm.Recipe.HumanBrewingSteps.AdjunctRounds" v-if="vm.Recipe.HumanBrewingSteps.AdjunctRounds.length > 1">
                                            <li>
                                                Round {{round.Round}}
                                                <ol>
                                                    <li v-if="round.Adjuncts1.length > 0">
                                                        Load the following ingredients in Adjunct 1
                                                        <ul>
                                                            <li v-for="ingredient in round.Adjuncts1">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                        </ul>
                                                    </li>
                                                    <li v-if="round.Adjuncts2.length > 0">
                                                        Load the following ingredients in Adjunct 2
                                                        <ul>
                                                            <li v-for="ingredient in round.Adjuncts2">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                        </ul>
                                                    </li>
                                                    <li v-if="round.Adjuncts3.length > 0">
                                                        Load the following ingredients in Adjunct 3
                                                        <ul>
                                                            <li v-for="ingredient in round.Adjuncts3">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                        </ul>
                                                    </li>
                                                    <li v-if="round.Adjuncts4.length > 0">
                                                        Load the following ingredients in Adjunct 4
                                                        <ul>
                                                            <li v-for="ingredient in round.Adjuncts4">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                        </ul>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ul>
                                        <ol v-for="round in vm.Recipe.HumanBrewingSteps.AdjunctRounds" v-if="vm.Recipe.HumanBrewingSteps.AdjunctRounds.length == 1">
                                            <li v-if="round.Adjuncts1.length > 0">
                                                Load the following ingredients in Adjunct 1
                                                <ul>
                                                    <li v-for="ingredient in round.Adjuncts1">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                </ul>
                                            </li>
                                            <li v-if="round.Adjuncts2.length > 0">
                                                Load the following ingredients in Adjunct 2
                                                <ul>
                                                    <li v-for="ingredient in round.Adjuncts2">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                </ul>
                                            </li>
                                            <li v-if="round.Adjuncts3.length > 0">
                                                Load the following ingredients in Adjunct 3
                                                <ul>
                                                    <li v-for="ingredient in round.Adjuncts3">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                </ul>
                                            </li>
                                            <li v-if="round.Adjuncts4.length > 0">
                                                Load the following ingredients in Adjunct 4
                                                <ul>
                                                    <li v-for="ingredient in round.Adjuncts4">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}</li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                                <!-- FERMENTATION INSTRUCTION -->
                                <div class="ic--label">Fermentation Instructions:</div>
                                <ol>
                                    <li><b>{{'Cool to ' + (vm.Recipe.Yeast != null && vm.Recipe.Yeast.ExpectedTemp > 0 ? vm.Recipe.Yeast.ExpectedTemp : vm.Recipe.IsMetric ? '20' : '68') + (vm.Recipe.IsMetric ? '°C' : '°F')}}</b></li>
                                    <li><b>Pitch yeast</b></li>
                                    <li v-if="vm.Recipe.DryHops.length > 0">
                                        <span>{{vm.Recipe.HumanBrewingSteps.LoadFermentationAdditions}}</span>
                                        <ul>
                                            <li v-for="ingredient in vm.Recipe.HumanBrewingSteps.FermentationAdditions">{{ingredient.Amount}} {{ingredient.Units}} of {{ingredient.Name}}
                                            </li>
                                        </ul>
                                    </li>
                                    <li v-if="vm.Recipe.FermentationType != 2"><span v-text="vm.Recipe.FermentationType == 0 ? 'Keep temperature consistent for 10 Days' : 'Keep temperature consistent for 3 weeks. Rack to a lagering container and keep at  ' + (vm.Recipe.IsMetric ? '1.6°C' : ' 35°F') + '  for another 4 weeks'"></span></li>
                                    <li v-if="vm.Recipe.FermentationType == 2"><span v-text="'Follow fermentation steps in Fermentation/Dry Hops section'"></span></li>

                                </ol>

                                <!-- MACHINE STEPS -->
                                <div class="ic--label">
                                    Machine Steps:
                                    <button class="btn btn-icon-header btn-sm btn-pencil" v-on:click="showMachineSteps = !showMachineSteps" aria-label="Toggle Section Visibility"><span class="glyphicon" v-bind:class="{'glyphicon-chevron-down': !showMachineSteps, 'glyphicon-chevron-up': showMachineSteps}"></span></button>
                                </div>
                                <div class="col-xs-12 no-padding-right no-pad-left-xs" v-show="showMachineSteps">
                                    <table class="table table-condensed z_crafter_table table-borderless zc_table static_rec_view_table" style="margin-bottom:0px !important;">
                                        <col width="25%" />
                                        <col width="25%" />
                                        <col width="16.3%" />
                                        <col width="16.3%" />
                                        <col width="16.3%" />
                                        <tr class="z_table_header">
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th v-text="vm.Recipe.IsMetric ? 'Temp(°C)' : ' Temp(°F)'"></th>
                                            <th>Time(mins)</th>
                                            <th>Drain(mins)</th>
                                        </tr>
                                        <tr v-for="step in vm.Recipe.MachineSteps">
                                            <td v-text="step.Name"></td>
                                            <td v-text="getStepLocationName(step.StepLocation)"></td>
                                            <td v-text="step.StepLocation == 6 ? 'N/A' : step.Temperature"></td>
                                            <td v-text="step.StepLocation == 6 ? 'N/A' : step.Time"></td>
                                            <td v-text="step.StepLocation == 6 ? 'N/A' : step.Drain"></td>
                                        </tr>
                                    </table>
                                    <div style="margin-top:10px">
                                        <span><span class="	glyphicon glyphicon-exclamation-sign"></span> step times are subject to change when compensating for lower boil temp</span>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div v-if="IsPublic">

                            <!-- RATINGS -->
                            <div class="rv--bd-c">
                                <div class="rec-sec-head">RATINGS</div>
                                <div id="rv--ratings" class="recipe-stats-table zc--content-table pt--10 pb--10 well" style="flex-wrap:wrap;">
                                    <div class="rv--rating-fc">
                                        <div class="rv--rating-title">Average Rating</div>
                                        <div>
                                            <span v-if="vm.Content.NumRatings > 0">{{vm.Content.AverageRating}}/10  ({{vm.Content.NumRatings}} Ratings)</span>
                                            <span v-else>No Ratings</span>
                                        </div>
                                    </div>
                                    <div class="rv--rating-fc">
                                        <div class="rv--rating-title">Your Rating</div>
                                        <div>
                                            <div v-if="vm.UserRated">
                                                {{vm.UserRating}}
                                            </div>

                                            <div v-else class="form-inline">
                                                <div class="form-group rv-ratings-form">
                                                    <select class="form-control user_rating_input" v-on:click="(!false ? showLoginModal() : '')" name="rating" v-model="rating">
                                                        <option value="-1">Select</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                    <button class="btn btn-default rv--rating-button" v-bind:disabled="!HasRating" v-on:click="!false ? showLoginModal() : addRating()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="rv--bd-c">
                                <div class="rec-sec-head">COMMENTS</div>
                                <div class="recipe-stats-table zc--content-table pt--10 well" id="rv--comments">
                                    <div class="w--100" style="display:flex; flex-direction:column">
                                        <div class="ic--label no-margin">Comments From Users</div>
                                        <div style="overflow-y:scroll !important;  height:200px; margin-top:2px; margin-bottom:2px;" v-if="vm.Content.Reviews.length > 0">
                                            <div v-for="comment in vm.Content.Reviews">
                                                <div>{{comment.Content}}</div>
                                                <div>-{{comment.Username}} - {{comment.Date}}</div>
                                                <br />
                                            </div>
                                        </div>
                                        <div style="margin-top:2px; margin-bottom:2px;" v-else>
                                            No Comments yet...
                                        </div>
                                        <div v-if="!vm.UserCommented">
                                            <textarea style="margin-bottom:5px;" class="form-control rv--review-form" v-on:focus="!false ? showLoginModal() : '' " v-model="comment" placeholder="Your thoughts..."></textarea>
                                            <button class="btn btn-default rv--review-form" v-bind:disabled="!HasComment" v-on:click="!false ? showLoginModal() : addComment()">Add Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <!-- MODALS -->
                </div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script src="/Scripts/Recipes/helpers.js"></script>
                <script src="/Scripts/Recipes/RecipeVM-App.js"></script>
            </div>
        </div>    <!-- main-->
    </div>
    <div id="pico-footer-app" class="noprint">
        <pico-footer :vm="vm" v-on:footer-click-event="handleFooterClick"></pico-footer>
    </div>

    <script src="/Bundles/Scripts/ComponentJS?v=LT-QoH-DT2eAjuxRc4Mb0D2Bl5IgNdqDZF7N4ARvsGE1"></script>

</body>
</html>
